<div class="container" style="margin-top: 20px;">

  <% @collections.reverse_order.each do |collection| %>

    <strong style="font-size: 25px;"><%= collection.title %></strong>
    <div class="clearfix"></div>
    <div class="collection" style="position: relative;">

      <% collection.podcasts.each do |podcast| %>
        <span class="podcasts-in-collection" style="position: relative;">
          <a class="podcasts-in-collection" data-pod-bio="<%= podcast.bio %>" href="/podcasts/<%= podcast.id %>">
            <img src="<%= podcast.logo_url_large %>" style="width: 125px;margin:3px;margin-left:3px;margin-right:3px;" />
          </a>
        </span>
      <% end %>

      <article class="add-to-library hidden" style="position: absolute;top:59px;">
        <div class="podcast-title"></div>
        <div class="podcast-bio"></div>
      </article>

    </div><!-- /collection -->

    <div class="clearfix"></div>

    <hr />

  <% end %>

</div>
