<div class="container collection-container">

  <% @collections.reverse_order.each do |collection| %>

    <strong class="bold-collection-title"><%= collection.title %></strong>

    <div class="clearfix"></div>

    <div class="collection">
      <% collection.podcasts.each do |podcast| %>
        <span class="podcasts-in-collection">
          <a class="podcasts-in-collection" data-pod-bio="<%= podcast.bio %>" href="/podcasts/<%= podcast.id %>">
            <img class="podcast-in-collection-img" src="<%= podcast.logo_url_large %>" />
          </a>
        </span>
      <% end %>

      <article class="add-to-library hidden hover-override-collection">
        <div class="podcast-title"></div>
        <div class="podcast-bio"></div>
      </article>
    </div><!-- /collection -->

    <div class="clearfix"></div>

    <hr />

  <% end %>

</div>
