<div class="container" style="margin-top: -20px;">
  <h2 class="page-header">All Collections</h2>

  <% @collections.reverse_order.each do |collection| %>
    <strong style="font-size: 16px;"><%= collection.title %></strong>
    <div class="clearfix"></div>
    <div class="collection" style="position: relative;">
      <% collection.podcasts.each do |podcast| %>
        <span class="podcasts-in-collection" style="position: relative;">
          <a class="podcasts-in-collection" data-pod-bio="<%= podcast.bio %>" href="/podcasts/<%= podcast.id %>"><img src="<%= podcast.logo_url_large %>" style="width: 125px;margin:3px;margin-left:3px;margin-right:3px;" /></a>
        </span>
      <% end %>
      <article class="add-to-library hidden" style="position: absolute;top:59px;">
        <div class="podcast-title"></div>
        <div class="podcast-bio"></div>
        <div style="margin-top: 5px;">
          <input type="checkbox" name="to-listen" id="to-listen" />
          <label for="to-listen" id="to-listen">
            Add to To Listen...
          </label>
          <br />
          <input type="checkbox" name="listening" id="listening" />
          <label for="listening" id="listening">
            Add to Listening...
          </label>
          <br />
          <input type="checkbox" name="listened" id="listened" />
          <label for="listened" id="listened">
            Add to Listened...
          </label>
        </div>
      </article>
    </div>

    <div class="clearfix"></div>
    <hr />
  <% end %>
</div>

<style>
</style>

<script>
</script>
