<div class="homepage">

  <section class="left-column">
    <div class="header">DISCOVER</div>
    <article class="discover">
      Loading podcasts you will like...
    </article>
  </section>

  <section class="right-column">
    <section class="my-lists">
      <div class="header">MY LISTS</div>
      <article class="listening">
        Loading listening history...
      </article>
      <article class="to-listen">
        Loading To Listen list...
      </article>
      <article class="listened">
        Loading listened...
      </article>
    </section>
  </section>

  <section class="center-column discover-column" style="">
    <article class="updates">
      <div class="header">UPDATES</div>
      <div class="post-an-update" style="position: relative">
        <textarea name="" id=""></textarea>
        <input type="submit" name="" id="update-post" value="Post" />
        <div class="typeahead-dropdown hidden">
        </div>
      </div>
      <hr />
      <div class="updates-body">
        Loading updates...
      </div>
    </article>
  </section>

</div>
