<div class="container">
  <br />
<table border="1" cellspacing="0" cellpadding="0" style="width:40%; float: left; border: 1px #aaa solid; margin-right:20px;">
  <tr><td colspan="2"></td></tr><tr>
    <!--<td rowspan="3">-->
    <!--</td>-->
    <td class="tableCellOne"><div class="defaultBold">member email:</div></td>
    <td class="tableCellOne"><%= @profile.email %></td>
  </tr><tr>
    <td class="tableCellTwo"><div class="defaultBold">real name:</div></td>
    <td class="tableCellTwo">scott</td>
  </tr><tr>
    <td class="tableCellOne"><div class="defaultBold">location:</div></td>
    <td class="tableCellOne">australia</td>
  </tr>
  <tr>
    <td class="tableCellTwo"><div class="defaultBold">aim/yahoo/msn/icq:</div></td>
    <td class="tableCellTwo">n/a</td>
  </tr><tr>
    <!--<td colspan="2" class="tableCellOne"><div class="defaultBold">my website:</div></td>
      <td colspan="2" class="tableCellOne"><a href="http://www.scottcalder.net">http://www.scottcalder.net</a></td>-->
      <td class="tableCellOne"><div class="defaultBold">my website:</div></td>
      <td class="tableCellOne"><a href="https://web.archive.org/web/20050516160424/http://www.scottcalder.net/">http://www.scottcalder.net</a></td>
  </tr>
  <tr>
    <!--<td colspan="2" class="tableCellTwo"><div class="defaultBold">member since:</div></td>
      <td colspan="2" class="tableCellTwo">-->
        <td class="tableCellTwo"><div class="defaultBold">member since:</div></td>
        <td class="tableCellTwo">April 27, 2005</td>
  </tr>
</table>

<table border="1" cellspacing="0" cellpadding="0" style="width:50%; border: 1px #aaa solid;">
  <tr><td></td></tr><tr>

    <td class="tableCellOne"><div class="defaultBold">member overall ranking:</div></td>

    <td class="tableCellOne">
      <a href="/web/20050516160424/http://digg.com/topusers/page16">453</a></td>

  </tr>
  <tr>
    <td class="tableCellTwo"><div class="defaultBold">stories dug:</div></td>
    <td class="tableCellTwo">
      115</td>
  </tr>
  <tr>
    <td class="tableCellOne"><div class="defaultBold">stories submitted:</div></td>
    <td class="tableCellOne">
      9</td>
  </tr>
  <tr>
    <td class="tableCellTwo" nowrap><div class="defaultBold">submitted stories dug to homepage:</div></td>
    <td class="tableCellTwo">
      3</td>
  </tr>
  <tr>
    <td class="tableCellOne"><div class="defaultBold">submitted stories to homepage %:</div></td>
    <td class="tableCellOne">
      33 %</td>
  </tr>
  <tr>
    <td class="tableCellTwo"><div class="defaultBold">profile pageviews:</div></td>
    <td class="tableCellTwo">150</td>
  </tr>
</table>
<hr />

  <a href="<%= edit_user_registration_path(current_user) %>">Edit Profile</a>
  <hr />
</div>

