<div class="container">
  <div class="left-box-udpates-page" style="float: left;width:60%">
    <h2 class="page-header" style="margin-top: 20px;">Global Updates</h2>
    <% @updates.each do |update| %>
      <div class="individual-update" style="width: 100%; text-align: left; margin-left:0 ;">
        <%= update.try(:body) %>
        | By <a href="/profiles/<%= update.try(:user_id) %>"><%= update.try(:email) %></a>
      </div>
    <% end %>
  </div>

  <div class="updates-page-right-column" style="border: 1px #000 solid; float: right; width: 35%; height: 1000px; margin-left: 10px; margin-top: 23px;">
  </div>
</div>
