/* * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require material_icons
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

/* ICONS HERE: */
/* https://material.io/resources/icons/?style=baseline */

.black-bg { background: black; }
.dark-bg { background: rgb(32,32,32) !important;}
.white-text { color: white !important; }

* {
  outline: 0;
  outline: none;
}

body {
  background: #f3f3f3;
  outline: 0;
  outline: none;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}

body:focus {
  outline: none;
  outline: 0;
}

.left-column {
  float: left;
  padding: 0;
  padding: 10px 20px;
  width: 663px;
  background: #fff;
  border-radius: 10px;
}
.dropdown-menu-custom li { list-style: none; color: #fff; display: block; position: relative; }
.dropdown-menu-custom li a { color: white; }

.center-column { 
  margin: 0 auto; 
  z-index: 0;
  max-width: 650px;
  background: #fff;
  border-radius: 10px;
  width: 431px;
}

.collection {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  display: block;
  clear: both;
}

.add-to-lib-toggle {
  width: 100px;
  display: inline-block;
  padding: 5px 0;
  border-radius: 20px;
  background: #3d3d3d;
  padding-top: 7px;
  color: #fff;
  cursor: hand;
  cursor: pointer;
}
.add-to-lib-toggle input {
  cursor: hand;
  cursor: pointer;
}

.add-to-lib-toggle label {
  margin-right: 7px;
  cursor: hand;
  cursor: pointer;
}

.right-column { 
  float: right; 
  width: 450px ; 
  padding: 10px 20px;
  margin-left: 20px;
  background: #fff;
  border-radius: 10px;
}

select  { width: 85%; }

.homepage {
  clear: both;
  display: block;
  margin: 0 auto;
}

.discover img:hover {
  cursor: hand;
  cursor: pointer;
  z-index: 1;
}
.discover img {
  z-index: 0;
  width: 100px !important;
}

article.discover {
  height: 100%;
}

.header {
  display: block;
  clear: both;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.discovery, 
.updates, 
.my-lists { 
  display: block; 
}
.updates {
}

.my-lists { 
  margin-top: -10px; 
}

.column {
  float: left; 
  margin-left: 15px;
}

.discover {
  padding: 10px;
  height: 900px;
}

.post-an-update {
  margin: 0 auto;
  width:78%;
  clear: both;
}
.show { display: block }
.hidden { display: none; }

.post-an-update > textarea { 
  outline: 0;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  margin-left: 10px;
  padding: 10px;
  font-size: 13px;
}

.post-an-update > input {
  float: left;
  /* padding-left: 20px; */
  background: #1da1f2;
  color: #fff;
  margin-left: 10px;
  font-size: 12px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 0;
  outline: 0;
  cursor: hand;
  width: 100%;
  cursor: pointer;
}

.typeahead-dropdown {
  position: absolute;
  top: 40px;
  left: 10px;
  font-size: 11px;
  list-style: none;
  background: rgb(238, 238, 238);
  width: 100%;
  height: 200px;
  z-index: 2;
  padding: 5px;
  overflow-y: scroll;
  cursor: hand;
  cursor: pointer;
  text-align: left;
  border: 1px #000 solid;
}

.typeahead-dropdown [data-id]:hover {
  background: #aaa;
}

.individual-update {
  border: 1px #000 solid;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 7px;
}
.individual-update.white {
  border: 1px #fff solid;
}
.individual-update img {
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
  border: 0;
}
[data-pod-id] img {
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
  border: 0;
}
.podcasts-page-left-side img {
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

article.add-to-library {
  width: 500px;
  background: #16161d;
  padding: 20px;
  position: absolute;
  z-index: 999;
  font-family: "BlinkMacSystemFont","Segoe UI","Helvetica","Arial","sans-serif";
  top: 80px;
  color: #fff;
  border-radius: 20px;
}

.search {
  position: absolute;
  top: 20%;
  background: #eee;
  width: 70%;
  height: 70px;
  left: 10%;
  border: 3px red solid;
}

.search input {
  width: 100%;
  height: 100%;
  font-size: 25px;
  outline: 0;
  padding-left: 5px;
}

.navbar-link.logout {
  font-style:italic;
}

.navbar-wrapper {
  overflow: hidden;
  clear: both;
  margin-bottom: 10px;
  background: #fff;
  height: 50px;
  font-size: 17px;
  box-shadow: 0 0 5px #aaa;
}

.navbar-wrapper a {
  font-family: "BlinkMacSystemFont","Segoe UI","Helvetica","Arial","sans-serif";
  font-size: 20px;
  color: #7e7d7d;
  margin-right: 20px;
  font-weight: 400;
  position: relative; top: -4px;
}

.light {
  font-family: "HelveticaNeue-Thin" !important;}

.more-info {
  font-size: 18px;
  padding: 5px;
  text-decoration: underline;
  cursor: hand;
  cursor: pointer;
}

[data-pod-id] {
  cursor: hand;
  cursor: pointer;
}

.add-to-library .podcast-title {
  font-size: 13px;
  font-weight: bold;
}

.add-to-library .podcast-bio {
font-size: 12px;}

.podcasts-page-left-side {
  text-align: center;
  height: 100%;
  width: 39%;
  float: left;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-right: 10px;
}

.podcasts-page-left-side h2 {
  font-size: 30px; text-align: center;
}

.podcasts-page-left-side img {
  border-radius: 5px;
}

.podcasts-page-right-side {
  position: relative;
  height: 1000px;
  width: 60%;
  background: #fff;
  float: right;
  padding: 0px 20px;
  border-radius: 20px;
  overflow: hidden;
  height: 100%;


}

.podcast-page-bio {
  text-align: justify;
  display: block;
  font-size: 20px;
  float: left;
  width: 100%;
  padding: 19px 0px;
  margin-top: 7px;
}

.alert {
  display: block;
  position: absolute;
  top: 54px;
  width: 100%;
  text-align: center;
}

.homepage {
  display: block;
  width: 100%;
}

.inner-homepage {
  margin: 0 auto;
}

@media screen and (min-width: 1350px) {
  .inner-homepage {
    margin: 0 auto;
  }
}

.homepage-genre-switcher {
  outline: none;
  outline: 0;
  margin-left: 15px;
  background: #eee;
  height: 26px;
  border: 1px #aaa solid;
  text-align: center;
  margin-bottom: 15px;
}

.navbar-inner {
  width: 1220px;
  margin: 0 auto
}

.container { 
  width: 1220px;
}

.listening img { cursor: pointer; cursor: hand;}

.right-column h1,h2,h3 {
  text-transform: uppercase;
  font-size: 20px;
}

.js-post-an-update {
  font-size: 15px;
  text-decoration: underline;
  cursor: hand; cursor: pointer;
}

.podcasts-grid {
  margin-top: 20px;
}

.podcasts-grid img {
  margin: 9px;
}

.discover-search {
  background: #f5f5f5;
  width: 55%;
  padding: 10px;
  border-radius: 20px;
  margin: 0 auto;
}

.discover-search-input {
  outline: 0;
  font-size: 20px;
  width: 50%;
  padding: 5px;
}

.audiojs .play-pause {
  width: 25px;
  height: 40px;
  padding: 3px 0px;
  margin: 0px;
  float: left;
  overflow: hidden;
  border-right: 1px solid #000;
}

.audiojs .time {
  float: right;
  height: 36px;
  line-height: 36px;
  margin: 0px 0px 0px 6px;
  padding: 0px 6px 0px 12px;
  border-left: 1px solid #000;
  color: #ddd;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  width: 105px;
}

.audiojs .scrubber {
  position: relative;
  float: left;
  width: 72%;
  background: #5a5a5a;
  height: 14px;
  margin: 10px;
  border-top: 1px solid #3f3f3f;
  border-left: 0px;
  border-bottom: 0px;
  overflow: hidden;
}

.audiojs {
  width: 100%;
  text-align: center;
  position: relative;
  top: 10px;
  right: 30px;
}

.podcasts-grid { margin-top: -40px;
  margin-top: 5px;
  padding-left: 30px;
}

.episode {
  width: 600px;
}

.button-pg {
  border: 1px #000 solid;
  border-radius: 10px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px;
  box-shadow: 3px 5px 0 #000;
  cursor: pointer;
}

.podcast-page-top {
  overflow: hidden;
  clear: both;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 0 20px 11px 20px;
  border-radius: 5px;
  background: #f5f5f5;
}

.updates-body {
  margin: 0 auto;
  width: 80%;
  height: 900px;
}
.podcast-categories {
  background: #f5f5f5;
  overflow: hidden;
  padding-left: 30px;
}

.all-podcasts-text {
  overflow: hidden;
}
.podcasts-grid a { cursor: pointer; cursor: hand;}
img { border-radius: 10px;}

.login-container { 
  float: left;
  width: 75%;
  text-align: left;
  padding: 25px;
}

.podcast-page-episode {
  padding: 10px;
  margin-top: -10px;
}

.podcast-page-episode-title {
  text-align: left;
  font-size: 20px;
  margin-bottom: 4px;
  font-weight: bold;
}

.podcast-page-episode-metadata {
  font-size: 14px;
  margin-bottom: 5px;
}

.podcast-page-episode-description {
  font-size: 16px;
  margin-bottom: 8px;
  float: left;
  width: 96%;
}

.episodes-tab-button {
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.updates-tab-button {
  position: absolute;
  top: 0px;
  left: 80px;
  border-radius: 5px;
}

.profile-page-full-column {
  width: 100%;
  height: 500px
}

.js-tab {
  border: 1px #eee solid;
  background: #eee;
  box-shadow: -1px 0 1px #eee;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Futura"
}

.js-tab.active {
  background: white;
  box-shadow: none;
}

.profile-page-hero {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}

.profile-page-full-column {
  background: #fff;
  border-radius: 10px;
  border-top-left-radius: 0px;
  position: relative;
  top: -1px;
  left:1px;
  overflow: hidden;
  padding: 0 20px;
  height: 100%;
}

.profile-library-podcast-logo {
  float: left;
  margin-right: 20px;
}
.profile-library-podcast-logo-img {
  border-radius: 3px;
  width: 175px;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.profile-library-podcast {
  border-bottom: 1px #eee solid;
  padding-bottom: 20px;
}
.profile-library-podcast-title h1 {
  font-size: 30px;
}
.profile-library-podcast-bio {
  font-size: 18px;
  width: 60%;
  float: left;
  font-weight: 300;
  margin-top: -10px;
  font-family: Helvetica, Arial, sans-serif;
}
.profile-library-podcast-metadata {
  margin-top: 5px;
  float: left;
}
.profile-library-podcast-status {
  float: right;
  margin-left: 5px;
  border: 1px green solid;
  background: green;
  border-radius: 15px;
  padding: 2px 5px;
  color: #fff;
}
